h2{
    text-align: center;
}
section p{
    text-align:center;
    margin-bottom:20px;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card-container{
    max-width: 1080px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.card-container .card{
    width: 300px;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 5px 6px gray;
}
.card-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.card-container h3{
    font-weight: 800;
}
.card-container p{
    text-align: justify;
}
.card-container .btn{
    font-size: 16px;
    background-color: aquamarine;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: 600;
    color: #fff;
    background-color: #6ef0c2;
    cursor: pointer;
}
.card-container .card:hover{
    background-color: rgba(255, 228, 196, 0.507);
}
.btn:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
footer{
    text-align: center;
    margin-top: 20px;
}
